In [1]:

import requests
from bs4 import BeautifulSoup
import pandas as pd
pd.options.display.max_columns=None
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
comp=[]
rol=[]
loc=[]
dat=[]
emp_type=[]
job_desc=[]
job_link=[]
no_appe=[]
for i in ['Data scientist','Data Engineer','Data Analyst','Data','Machine Learning Engineer']:
    keyword=i
    print(f"Scraping Role {keyword}")
    base_url = "https://www.linkedin.com/jobs/search/?currentJobId=3597020723&f_E=1%2C2%2C3&geoId=102713980&keywords="+keyword+"%20&location=India&refresh=true"
    pages = 10
    page_size = 10

    def no_of_applicants(job_link):
        a2=None
        response1 = requests.get(job_link)
        content1 = response1.content
        parsed_content1 = BeautifulSoup(content1, 'html.parser')
        a2 = parsed_content1.find('span',{'class':'num-applicants__caption topcard__flavor--metadata topcard__flavor--bullet'})
        return (a2)

    def employement_type(job_link):
        a1=None
        response1 = requests.get(job_link)
        content1 = response1.content
        parsed_content1 = BeautifulSoup(content1, 'html.parser')
        job_description = parsed_content1.find_all('ul',{'class':'description__job-criteria-list'})   
        for i in job_description:
            a1=(i.find('span',{'class':'description__job-criteria-text description__job-criteria-text--criteria'}).text.strip())
        return a1  

    for i in range(1, pages + 1):
        print(f"Scraping page {i}")
        url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"
        response = requests.get(url)
        content = response.content
        parsed_content = BeautifulSoup(content, 'html.parser')
        job_list = parsed_content.find('ul', class_='jobs-search__results-list')
        if job_list is not None:
            job_items = job_list.find_all('li')

        for i in job_items:
            if i.find('h4',{'class':"base-search-card__subtitle"}):
                comp.append(i.find('h4',{'class':"base-search-card__subtitle"}).text.strip())
            else:
                comp.append('NA')
            if i.find('h3'):
                rol.append(i.find('h3').text.strip())
            else:
                rol.append('NA')
            if i.find('span',{'class':'job-search-card__location'}):
                loc.append(i.find('span',{'class':'job-search-card__location'}).text.strip())
            else:
                loc.append('NA')
            if i.find('time',{'class':"job-search-card__listdate"}):
                dat.append(i.find('time',{'class':"job-search-card__listdate"}).text.strip())
            else:
                dat.append('NA')
            if i.find('a', {'class': 'base-card__full-link'}):
                
                job_lin = i.find('a', {'class': 'base-card__full-link'})['href']
                
                job_link.append(job_lin)
            else:
                job_link.append(None)
            
            if job_link[-1]!=None:
                emp_typ = employement_type(job_link[-1])
                no_app=no_of_applicants(job_link[-1])
                no_appe.append(no_app)
            else:
                emp_typ = None
                no_appe.append(None)
            if emp_typ is not None:
                emp_type.append(emp_typ)
            else:
                emp_type.append("NA")
            
            
        print(f"   ---> {len(emp_type)} total jobs")

Scraping Role Data scientist
Scraping page 1
   ---> 25 total jobs
Scraping page 2
   ---> 50 total jobs
Scraping page 3
   ---> 75 total jobs
Scraping page 4
   ---> 100 total jobs
Scraping page 5
   ---> 125 total jobs
Scraping page 6
   ---> 150 total jobs
Scraping page 7
   ---> 175 total jobs
Scraping page 8
   ---> 200 total jobs
Scraping page 9
   ---> 225 total jobs
Scraping page 10
   ---> 250 total jobs
Scraping Role Data Engineer
Scraping page 1
   ---> 275 total jobs
Scraping page 2
   ---> 300 total jobs
Scraping page 3
   ---> 325 total jobs
Scraping page 4
   ---> 350 total jobs
Scraping page 5
   ---> 375 total jobs
Scraping page 6
   ---> 400 total jobs
Scraping page 7
   ---> 425 total jobs
Scraping page 8
   ---> 450 total jobs
Scraping page 9
   ---> 475 total jobs
Scraping page 10
   ---> 500 total jobs
Scraping Role Data Analyst
Scraping page 1
   ---> 525 total jobs
Scraping page 2
   ---> 550 total jobs
Scraping page 3
   ---> 575 total jobs
Scraping page 4
   ---> 600 total jobs
Scraping page 5
   ---> 625 total jobs
Scraping page 6
   ---> 650 total jobs
Scraping page 7
   ---> 675 total jobs
Scraping page 8
   ---> 700 total jobs
Scraping page 9
   ---> 725 total jobs
Scraping page 10
   ---> 750 total jobs
Scraping Role Data
Scraping page 1
   ---> 775 total jobs
Scraping page 2
   ---> 800 total jobs
Scraping page 3
   ---> 825 total jobs
Scraping page 4
   ---> 850 total jobs
Scraping page 5
   ---> 875 total jobs
Scraping page 6
   ---> 900 total jobs
Scraping page 7
   ---> 925 total jobs
Scraping page 8
   ---> 950 total jobs
Scraping page 9
   ---> 975 total jobs
Scraping page 10
   ---> 1000 total jobs
Scraping Role Machine Learning Engineer
Scraping page 1
   ---> 1025 total jobs
Scraping page 2
   ---> 1050 total jobs
Scraping page 3
   ---> 1075 total jobs
Scraping page 4
   ---> 1100 total jobs
Scraping page 5
   ---> 1125 total jobs
Scraping page 6
   ---> 1150 total jobs
Scraping page 7
   ---> 1175 total jobs
Scraping page 8
   ---> 1200 total jobs
Scraping page 9
   ---> 1225 total jobs
Scraping page 10
   ---> 1250 total jobs

In [3]:
dict={'Company':comp,
      'Role':rol,
     'Location':loc,
     'Date_Posted':dat,
     'Job_link':job_link,
     'Employment_Type':emp_type,
     'No_of_applicants':no_appe}    
df=pd.DataFrame(dict)

In [4]:
df.head()

,Company,Role,Location,Date_Posted,Job_link,Employment_Type,No_of_applicants
0,Trexquant Investment LP,Data Scientist (INDIA),"Gurugram, Haryana, India",2 days ago,https://in.linkedin.com/jobs/view/data-scienti...,Associate,None
1,"Indian Institute of Technology, Bombay",Machine Learning Engineering work from home jo...,India,1 week ago,https://in.linkedin.com/jobs/view/machine-lear...,Internship,None
2,HyreFox Consultants,AI & ML Engineer,"Bengaluru North, Karnataka, India",1 week ago,https://in.linkedin.com/jobs/view/ai-ml-engine...,Entry level,[\n 56 applicants\n ]
3,Kotai Electronics Pvt. Ltd.,Machine Learning Engineer,Greater Kolkata Area,1 week ago,https://in.linkedin.com/jobs/view/machine-lear...,Entry level,None
4,Covalense Global,Data Scientists,"Hyderabad, Telangana, India",1 day ago,https://in.linkedin.com/jobs/view/data-scienti...,Entry level,None